body {
  padding: 0 10%;
  margin: 0;
}

h1 {
  text-align: center;
}

table.paleBlueRows {
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid #ffffff;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
table.paleBlueRows td,
table.paleBlueRows th {
  border: 1px solid #ffffff;
  padding: 3px 2px;
  width: 20%;
}
table.paleBlueRows tbody td {
  font-size: 13px;
  background-color: #cce6ff;
  padding: 5px 0;
}
table.paleBlueRows tr:nth-child(even) {
  background: #d0e4f5;
}
table.paleBlueRows thead {
  background: #0b6fa4;
  border-bottom: 5px solid #ffffff;
}
table.paleBlueRows thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-left: 2px solid #ffffff;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #d0e4f5;
  border-top: 3px solid #444444;
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}

h2 {
  text-align: center;
}

.addForm {
  padding: 2% 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0b6fa4;
}

.addForm label,
.addForm > h2 {
  color: #fff;
}

.formInput {
  display: flex;
  justify-content: space-between;
}

.addForm label,
.addForm input[type="submit"] {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.formInput > input,
.formInput > select {
  width: 50%;
  background-color: #cce6ff;
  appearance: none;
  border: 2px solid #cce6ff;
  border-radius: 2px;
  padding: 2px 5px;
  color: #000;
  transition: all 0.15s ease-in;
  line-height: 1.25;
}

.formInput > input:focus,
.formInput > select:focus {
  outline: none;
  background-color: #fff;
  border: 2px solid #4b6dff;
  border-radius: 2px;
}

.addForm input[type="submit"] {
  border: none;
  background-color: #333333;
  color: #fff;
  padding: 2% 20%;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.addForm input[type="submit"]:hover {
  background-color: #494949;
}
